name: Generate M3U8 Playlists

on:
  push:
    branches: [ master ]
  schedule:
    # 每周一凌晨2点执行
    - cron: '0 2 * * 1'
  workflow_dispatch: # 允许手动触发

env:
  TZ: Asia/Shanghai

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r script/requirements.txt

      - name: Build home
        run: |
          python3 ./script/home.py


      - name: Commit
        run: |
          git config --global user.name 'Automated'
          git config --global user.email 'Automated'
          git add .
          git commit -am "Automated build"
          git push